
@media only screen and (min-width: 720px) {
/* Page title for desktop screen*/

#sideMenu {
    float: left;
    padding: 3% 1% 1% 2%;
 }
#pageTitle {
    float: left;
    width: 65%;
    padding: 0% 0% 1% 15%;
 }

 /*image Area for desktop user*/
 #imageArea {
    margin: 0% 18%;
 }
 #firstImage {
    display: block;
    height: auto;
    position: relative;
    overflow: hidden;
}
#firstImagetext {
    position: absolute;
    top: 0%;
    right: 0%;
  }
#firstImagetext2 {
    position: absolute;
    top: 5%;
    left: 5%;
  }

#secondImage {
    float: left;
    width: 50%;
    height: auto;
    position: relative;
    overflow: hidden;
}

#secondImagetext {
    position: absolute;
    bottom: 0%;
    right: 0%
  }
#thirdImage {
    float: right;
    width: 50%;
    height: auto;
    position: relative;
    overflow: hidden;
}

#thirdImagetext {
    position: absolute;
    bottom: 0%;
    right: 0%
  }
 
  /* Payment and Delivery Area for Desktop Users*/
#PaymentDeliveryArea {
    

}
#Payment {
    float : left;
    width: 50%;
    background: #48a0a0;
}

#Delivery {
    float: right;
    width: 50%;
    background: #48a0a0;
}
div span {
    padding: 0% 0% 0% 4%;
    font-size: 150%;
}
div ul{
    padding: 0% 0% 0% 4%;
    font-size: 125%;
}

/* Footer Area for Desktop Users*/
#footerName {
    font-family:'serif';
    padding-left: 30%;
    
}

#copyrightSection{
    color: #48a0a0;
    padding-left: 35%;
    font-size: 200%;
}
}
