/* Body styling for whole page*/
body {
    background-color: #4136362d;
}
.header {
    width: 100%;
    height: 10%;
    background-color: #48a0a0;
    overflow: hidden;
 }
 #sideMenu {
    float: left;
    padding: 5% 1% 1% 2%;
    
 }
 #sideMenu span {
    font-size: 42px;
    color: #F16C0A;
    text-decoration: none;
 }
 #pageTitle {
    float: left;
    width: 65%;
    padding: 0% 0% 1% 10%; 
 }

 #pageTitle h1 {
    color: #F16C0A;
    font-size: 64px;
 }
 #pageLogo {
    float: right;
    width: 10%;
    height: 95%;
    visibility: visible;
    
    padding-right: 1%;
 }
 #pageLogo img{
    width: 100%;
    height: 100%; 
    border-style: solid; 
    border-radius: 100%;
 }
 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5%;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 3em;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    background-color: antiquewhite;
    color: #f56666;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Content Sftyling*/

/* Image Area*/
.imageArea {
    overflow: hidden;
}
#firstImage {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    overflow: hidden;
}
#firstImagetext {
    position: absolute;
    top: 0%;
    right: 0%;
  }
#firstImagetext2 {
    position: absolute;
    top: 5%;
    left: 5%;
  }

#secondImage {
    float: left;
    width: 50%;
    height: auto;
    position: relative;
    overflow: hidden;
}

#secondImagetext {
    position: absolute;
    bottom: 0%;
    right: 0%
  }
#thirdImage {
    float: right;
    width: 50%;
    height: auto;
    position: relative;
    overflow: hidden;
}

#thirdImagetext {
    position: absolute;
    bottom: 0%;
    right: 0%
  }

.shopItem a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 1%; 
    text-align: center;
    text-decoration: none;
    letter-spacing: -1px;
    font-family: "Arial";
    font-size: 3em;
    color:   #9dd025;
}
.shopItem a:hover {
    border-radius: 5%;
    color: #f56666;
    background-color: #66ff66;
} 

.shopItemtext {
    display: block;
    width: 10%;
    height: 1vh;
    padding-top: 1%; 
    text-align: center;
    text-decoration: none;
    letter-spacing: -1px;
    font-family: "Arial";
    font-size: 200%;
    color:   #030303;
}
.highlightText {
    display: block;
    width: 10%;
    height: 1vh;
    padding-top: 1%; 
    text-align: center;
    text-decoration: none;
    letter-spacing: -1px;
    font-family: "Times New Roman";
    font-size: 200%;
    color:   #030303;
}

/* Payment Area*/
#PaymentDeliveryArea {
    

}
#Payment {
    width: 100%;
    background: #48a0a0;
}

#Delivery {
    width: 100%;
    background: #48a0a0;
}
div span {
    padding: 0% 0% 0% 25%;
    font-size: 150%;
}
div ul{
    padding: 0% 0% 0% 4%;
    font-size: 125%;
}
div #Payment:hover {
    background: #b2b9b9;
    
}
div #Delivery:hover {
    background: #b2b9b9;
    
}

/* Footer Area*/

#footer {
    background-color: #272928;

}
#footerName {
    font-family:'serif';
    color: #ffffff;
    padding-left: 17%;
    padding-top: 2%;
}
.footerNav {
    float: left;
    display: block;
    width: 33%;
    text-decoration: none;
}
.footerNav a{
    color: #ffffff;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 100%;
    font-family: 'Times New Roman';
    padding: 2% 0% 2% 0%;
}
.footerNav a:hover{
    background-color: #ffffff;
    color: #272928;
    margin-left: 25%;
    margin-right: 25%;
}
.socialMediaHandle {
    width: 33%;
    float: left;
    display: block;
    text-decoration: none;
}
.socialMediaHandle a{
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 100%;
    font-family: 'Times New Roman';
    padding: 2% 0% 2% 0%;
}
.socialMediaHandle a:hover{
    background-color: #ffffff;
    color: #272928;
    margin-left: 25%;
    margin-right: 25%;
}
.addressOnMap {
    width: 33%;
    float: right;
    display: block;
    text-decoration: none;
}
.addressOnMap span{
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 100%;
    font-family: 'Times New Roman';
    padding: 2% 0% 2% 0%;
}

#copyrightSection{
    color: #48a0a0;
    padding-left: 30%;
    font-size: 150%;
}


 
